*~
*.swp
*.orig
*tags
*.pyc

######################
# Compilation files
######################

*transcript
*make_*
*_history
_autogen/
_dep/
_gen/
_xilinx/
*.o
*.d
*.bit
*.bit
*.elf
*.elf.size
*.prm
*.bin

# Bundled binary file with PL/PS config
*BOOT.bin

# BSP-generated directories
software/app/cctrl/cctrl_*/
*ad9520Tables.h

######################
# Modelsim
######################

*.wlf
work/

######################
# Temporary files
######################

*#*

######################
# Repo-specific files
######################

# Keep only source file, not generated products
/gateware/platform/xilinx/*/*/coeffs/
!/gateware/platform/xilinx/*/*/coeffs/*.coe
/gateware/platform/xilinx/*/*/evr_mgt_gtx/
!/gateware/platform/xilinx/*/*/evr_mgt_gtx/*.xci
/gateware/platform/xilinx/*/*/PacketMem/
!/gateware/platform/xilinx/*/*/PacketMem/PacketMem.xci
/gateware/platform/xilinx/*/*/MappingRam/
!/gateware/platform/xilinx/*/*/MappingRam/MappingRam.xci
/gateware/platform/xilinx/*/*/timeStampFIFO/
!/gateware/platform/xilinx/*/*/timeStampFIFO/timeStampFIFO.xci
/gateware/platform/xilinx/*/*/fixToFloat/
!/gateware/platform/xilinx/*/*/fixToFloat/*.xci
/gateware/platform/xilinx/*/*/floatMultiply/
!/gateware/platform/xilinx/*/*/floatMultiply/*.xci
/gateware/platform/xilinx/*/*/floatResultFIFO/
!/gateware/platform/xilinx/*/*/floatResultFIFO/*.xci
/gateware/platform/xilinx/*/*/floatToDouble/
!/gateware/platform/xilinx/*/*/floatToDouble/*.xci
/gateware/platform/xilinx/*/*/fofbCoefficientMul/
!/gateware/platform/xilinx/*/*/fofbCoefficientMul/*.xci
/gateware/platform/xilinx/*/*/fofbFIRplusIntegral/
!/gateware/platform/xilinx/*/*/fofbFIRplusIntegral/*.xci
/gateware/platform/xilinx/*/*/fofbFixToFloat/
!/gateware/platform/xilinx/*/*/fofbFixToFloat/*.xci
/gateware/platform/xilinx/*/*/fofbGainMultiplier/
!/gateware/platform/xilinx/*/*/fofbGainMultiplier/*.xci
/gateware/platform/xilinx/*/*/fofbIntegralFixToFloat/
!/gateware/platform/xilinx/*/*/fofbIntegralFixToFloat/*.xci
/gateware/platform/xilinx/*/*/fofbIntegralMultiplier/
!/gateware/platform/xilinx/*/*/fofbIntegralMultiplier/*.xci
/gateware/platform/xilinx/*/*/fofbPCS_PMA_without_shared_logic/
!/gateware/platform/xilinx/*/*/fofbPCS_PMA_without_shared_logic/*.xci
/gateware/platform/xilinx/*/*/fofbPCS_PMA_with_shared_logic/
!/gateware/platform/xilinx/*/*/fofbPCS_PMA_with_shared_logic/*.xci
/gateware/platform/xilinx/*/*/fofbReadLinksMux/
!/gateware/platform/xilinx/*/*/fofbReadLinksMux/*.xci
/gateware/platform/xilinx/*/*/fofbSupplyFilter/
!/gateware/platform/xilinx/*/*/fofbSupplyFilter/*.xci
/gateware/platform/xilinx/*/*/forwardCellLinkMux/
!/gateware/platform/xilinx/*/*/forwardCellLinkMux/*.xci
/gateware/platform/xilinx/*/*/linkStatisticsMux/
!/gateware/platform/xilinx/*/*/linkStatisticsMux*.xci/
/gateware/platform/xilinx/*/*/psSetpointCalcConvertToAmps/
!/gateware/platform/xilinx/*/*/psSetpointCalcConvertToAmps/*.xci
/gateware/platform/xilinx/*/*/psSetpointCalcFixToFloat/
!/gateware/platform/xilinx/*/*/psSetpointCalcFixToFloat/*.xci
/gateware/platform/xilinx/*/*/readBPMlinksMux/
!/gateware/platform/xilinx/*/*/readBPMlinksMux/*.xci
/gateware/platform/xilinx/*/*/readOldBPMs_DoubleToFloat/
!/gateware/platform/xilinx/*/*/readOldBPMs_DoubleToFloat/*.xci
/gateware/platform/xilinx/*/*/readOldBPMs_FIFO/
!/gateware/platform/xilinx/*/*/readOldBPMs_FIFO/*.xci
/gateware/platform/xilinx/*/*/readOldBPMs_Fix/
!/gateware/platform/xilinx/*/*/readOldBPMs_Fix/*.xci
/gateware/platform/xilinx/*/*/readOldBPMs_Multiply/
!/gateware/platform/xilinx/*/*/readOldBPMs_Multiply/*.xci
/gateware/platform/xilinx/*/*/udpFIFO/
!/gateware/platform/xilinx/*/*/udpFIFO/udpFIFO.xci
/gateware/platform/xilinx/*/*/system/
!/gateware/platform/xilinx/*/*/system/*.bd
/gateware/platform/xilinx/*/*/system_marble/
!/gateware/platform/xilinx/*/*/system_marble/*.bd
/gateware/platform/xilinx/*/*/ila_td256_s4096_cap/
!/gateware/platform/xilinx/*/*/ila_td256_s4096_cap/ila_td256_s4096_cap.xci
/gateware/platform/xilinx/*/*/system_marble_old/

gateware/top/*/gpioIDX.vh
gateware/modules/marble_i2c.vh

# NCO tables
*csv

# iverilog dependency files. Generated by Makefile
*udpFIFO_iverilog_cfile.txt
*ila_td256_s4096_cap_iverilog_cfile.txt
*evr_mgt_gtx_iverilog_cfile.txt
*MappingRam_iverilog_cfile.txt
*PacketMem_iverilog_cfile.txt
*timeStampFIFO_iverilog_cfile.txt
*fixToFloat_iverilog_cfile.txt
*floatMultiply_iverilog_cfile.txt
*floatResultFIFO_iverilog_cfile.txt
*floatToDouble_iverilog_cfile.txt
*fofbCoefficientMul_iverilog_cfile.txt
*fofbFIRplusIntegral_iverilog_cfile.txt
*fofbFixToFloat_iverilog_cfile.txt
*fofbGainMultiplier_iverilog_cfile.txt
*fofbIntegralFixToFloat_iverilog_cfile.txt
*fofbIntegralMultiplier_iverilog_cfile.txt
*fofbPCS_PMA_without_shared_logic_iverilog_cfile.txt
*fofbPCS_PMA_with_shared_logic_iverilog_cfile.txt
*fofbReadLinksMux_iverilog_cfile.txt
*fofbSupplyFilter_iverilog_cfile.txt
*forwardCellLinkMux_iverilog_cfile.txt
*linkStatisticsMux_iverilog_cfile.txt
*psSetpointCalcConvertToAmps_iverilog_cfile.txt
*psSetpointCalcFixToFloat_iverilog_cfile.txt
*readBPMlinksMux_iverilog_cfile.txt
*readOldBPMs_DoubleToFloat_iverilog_cfile.txt
*readOldBPMs_FIFO_iverilog_cfile.txt
*readOldBPMs_Fix_iverilog_cfile.txt
*readOldBPMs_Multiply_iverilog_cfile.txt

# generated by makefile for dependency tracking
axi_lite_generic_reg
evr_axi
bmb7_udp
drp_bridge
bwUDP

# Makefile-generated
*system_top.xdc
*prio_xci_files.tcl
*ipcores_repos.tcl
*.mmi
*download.bit
*download_marble.bit
*download_bmb7.bit

# Script-generated
*softwareBuildDate.h
*firmwareBuildDate.v
*gpioIDX.v
*aggregate.v

######################
# Generated native binaries
######################
software/target/sim/bin
software/tests/bin

######################
# Vivado files
######################

*.jou
*.log
*.str
*.xpr
*.edif
*.mif
.Xil/

# Vivado/Vitis-generated
*system.xsa
*system_marble.xsa
*psu_init*
*.bif
*init.tcl

######################
# Impact files
######################

*impact.xsl
*impact_impact.xwbt
*usage_statistics_webtalk.html
*webtalk_impact.xml
