*~
*.swp
*.orig
*tags
*.pyc

######################
# Compilation files
######################

*transcript
*make_*
*_history
_autogen/
_dep/
_gen/
_xilinx/
*.o
*.d
*.bit
*.bit
*.elf
*.elf.size
*.prm
*.bin

# Bundled binary file with PL/PS config
*BOOT.bin

# BSP-generated directories
software/app/cctrl_*/cctrl_*/

######################
# Modelsim
######################

*.wlf
work/

######################
# Temporary files
######################

*#*

######################
# Repo-specific files
######################

# Keep only source file, not generated products
/gateware/platform/xilinx/*/*/evrmgt/*
!/gateware/platform/xilinx/*/*/evrmgt/*.tcl
/gateware/platform/xilinx/*/*/PacketMem/*
!/gateware/platform/xilinx/*/*/PacketMem/PacketMem.tcl
/gateware/platform/xilinx/*/*/MappingRam/*
!/gateware/platform/xilinx/*/*/MappingRam/MappingRam.tcl
/gateware/platform/xilinx/*/*/timeStampFIFO/*
!/gateware/platform/xilinx/*/*/timeStampFIFO/timeStampFIFO.tcl
/gateware/platform/xilinx/*/*/fixToFloat/*
!/gateware/platform/xilinx/*/*/fixToFloat/*.tcl
/gateware/platform/xilinx/*/*/floatMultiply/*
!/gateware/platform/xilinx/*/*/floatMultiply/*.tcl
/gateware/platform/xilinx/*/*/floatResultFIFO/*
!/gateware/platform/xilinx/*/*/floatResultFIFO/*.tcl
/gateware/platform/xilinx/*/*/floatToDouble/*
!/gateware/platform/xilinx/*/*/floatToDouble/*.tcl
/gateware/platform/xilinx/*/*/fofbCoefficientMul/*
!/gateware/platform/xilinx/*/*/fofbCoefficientMul/*.tcl
/gateware/platform/xilinx/*/*/fofbPCS_PMA_without_shared_logic/*
!/gateware/platform/xilinx/*/*/fofbPCS_PMA_without_shared_logic/*.tcl
/gateware/platform/xilinx/*/*/fofbPCS_PMA_with_shared_logic/*
!/gateware/platform/xilinx/*/*/fofbPCS_PMA_with_shared_logic/*.tcl
/gateware/platform/xilinx/*/*/fofbSupplyFilter/*
!/gateware/platform/xilinx/*/*/fofbSupplyFilter/*.tcl
!/gateware/platform/xilinx/*/*/fofbSupplyFilter/*.coe
/gateware/platform/xilinx/*/*/linkStatisticsMux/*
!/gateware/platform/xilinx/*/*/linkStatisticsMux/*.tcl
/gateware/platform/xilinx/*/*/psSetpointCalcConvertToAmps/*
!/gateware/platform/xilinx/*/*/psSetpointCalcConvertToAmps/*.tcl
/gateware/platform/xilinx/*/*/psSetpointCalcFixToFloat/*
!/gateware/platform/xilinx/*/*/psSetpointCalcFixToFloat/*.tcl
/gateware/platform/xilinx/*/*/udpFIFO/*
!/gateware/platform/xilinx/*/*/udpFIFO/udpFIFO.tcl
/gateware/platform/xilinx/*/*/system_aurora_8b10b/*
!/gateware/platform/xilinx/*/*/system_aurora_8b10b/*.tcl
/gateware/platform/xilinx/*/*/system_aurora_64b66b/*
!/gateware/platform/xilinx/*/*/system_aurora_64b66b/*.tcl
/gateware/platform/xilinx/*/*/ila_td256_s4096_cap/*
!/gateware/platform/xilinx/*/*/ila_td256_s4096_cap/ila_td256_s4096_cap.tcl

gateware/top/*/gpioIDX.vh
gateware/modules/marble_i2c.vh

# NCO tables
*csv

# generated by makefile for dependency tracking
axi_lite_generic_reg
evr_axi
drp_bridge
bwUDP
system_bd

# Makefile-generated
*system_top.xdc
*prio_xci_files.tcl
*ipcores_repos.tcl
*.mmi
*download.bit
*download_marble.bit

# Script-generated
*softwareBuildDate.h
*firmwareBuildDate.v
*gpioIDX.v
*aggregate.v
*gitHash.vh
gateware/modules/badgerMerged.v
gateware/syn/*/construct_tx_table.v
gateware/syn/*/rtefi_blob.v
gateware/syn/*/rtefi_preblob.vh
gateware/modules/*.dat
software/src/iicCommandTable.h

# Verilator testbench files
gateware/tb/obj_dir
gateware/tb/obj_dir/*

######################
# Generated native binaries
######################
software/target/sim/bin
software/tests/bin

######################
# Vivado files
######################

*.jou
*.log
*.str
*.xpr
*.edif
*.mif
.Xil/

# Vivado/Vitis-generated
*system*.xsa
*psu_init*
*.bif
*init.tcl

######################
# Impact files
######################

*impact.xsl
*impact_impact.xwbt
*usage_statistics_webtalk.html
*webtalk_impact.xml
