*~
*.swp
*.orig
*tags

######################
# Compilation files
######################

*transcript
*make_*
*_history
_autogen/
_dep/
_gen/
_xilinx/
*.o
*.d
*.bit
*.bit
*.elf
*.elf.size
*.prm
*.bin

# Bundled binary file with PL/PS config
*BOOT.bin

# BSP-generated directories
software/app/devg/devg_*/

######################
# Modelsim
######################

*.wlf
work/

######################
# Temporary files
######################

*#*

######################
# Repo-specific files
######################

# Keep only source file, not generated products
/gateware/platform/xilinx/*/*/evg1mgt/
!/gateware/platform/xilinx/*/*/evg1mgt/evg1mgt.xci
/gateware/platform/xilinx/*/*/evg2mgt/
!/gateware/platform/xilinx/*/*/evg2mgt/evg2mgt.xci
/gateware/platform/xilinx/*/*/evLogFIFO/
!/gateware/platform/xilinx/*/*/evLogFIFO/evLogFIFO.xci
/gateware/platform/xilinx/*/*/bd/
!/gateware/platform/xilinx/*/*/bd/bd.bd
/gateware/platform/xilinx/*/*/ila_td256_s4096_cap/
!/gateware/platform/xilinx/*/*/ila_td256_s4096_cap/ila_td256_s4096_cap.xci
/gateware/platform/xilinx/*/*/coeffs/
!/gateware/platform/xilinx/*/*/coeffs/*.coe
/gateware/platform/xilinx/*/*/evr_mgt_gtx/
!/gateware/platform/xilinx/*/*/evr_mgt_gtx/*.xci
/gateware/platform/xilinx/*/*/fixToFloat/
!/gateware/platform/xilinx/*/*/fixToFloat/*.xci
/gateware/platform/xilinx/*/*/floatMultiply/
!/gateware/platform/xilinx/*/*/floatMultiply/*.xci
/gateware/platform/xilinx/*/*/floatResultFIFO/
!/gateware/platform/xilinx/*/*/floatResultFIFO/*.xci
/gateware/platform/xilinx/*/*/floatToDouble/
!/gateware/platform/xilinx/*/*/floatToDouble/*.xci
/gateware/platform/xilinx/*/*/fofbCoefficientMul/
!/gateware/platform/xilinx/*/*/fofbCoefficientMul/*.xci
/gateware/platform/xilinx/*/*/fofbFIRplusIntegral/
!/gateware/platform/xilinx/*/*/fofbFIRplusIntegral/*.xci
/gateware/platform/xilinx/*/*/fofbFixToFloat/
!/gateware/platform/xilinx/*/*/fofbFixToFloat/*.xci
/gateware/platform/xilinx/*/*/fofbGainMultiplier/
!/gateware/platform/xilinx/*/*/fofbGainMultiplier/*.xci
/gateware/platform/xilinx/*/*/fofbIntegralFixToFloat/
!/gateware/platform/xilinx/*/*/fofbIntegralFixToFloat/*.xci
/gateware/platform/xilinx/*/*/fofbIntegralMultiplier/
!/gateware/platform/xilinx/*/*/fofbIntegralMultiplier/*.xci
/gateware/platform/xilinx/*/*/fofbPCS_PMA_without_shared_logic/
!/gateware/platform/xilinx/*/*/fofbPCS_PMA_without_shared_logic/*.xci
/gateware/platform/xilinx/*/*/fofbPCS_PMA_with_shared_logic/
!/gateware/platform/xilinx/*/*/fofbPCS_PMA_with_shared_logic/*.xci
/gateware/platform/xilinx/*/*/fofbReadLinksMux/
!/gateware/platform/xilinx/*/*/fofbReadLinksMux/*.xci
/gateware/platform/xilinx/*/*/fofbSupplyFilter/
!/gateware/platform/xilinx/*/*/fofbSupplyFilter/*.xci
/gateware/platform/xilinx/*/*/forwardCellLinkMux/
!/gateware/platform/xilinx/*/*/forwardCellLinkMux/*.xci
/gateware/platform/xilinx/*/*/linkStatisticsMux/
!/gateware/platform/xilinx/*/*/linkStatisticsMux*.xci/
/gateware/platform/xilinx/*/*/psSetpointCalcConvertToAmps/
!/gateware/platform/xilinx/*/*/psSetpointCalcConvertToAmps/*.xci
/gateware/platform/xilinx/*/*/psSetpointCalcFixToFloat/
!/gateware/platform/xilinx/*/*/psSetpointCalcFixToFloat/*.xci
/gateware/platform/xilinx/*/*/readBPMlinksMux/
!/gateware/platform/xilinx/*/*/readBPMlinksMux/*.xci
/gateware/platform/xilinx/*/*/readOldBPMs_DoubleToFloat/
!/gateware/platform/xilinx/*/*/readOldBPMs_DoubleToFloat/*.xci
/gateware/platform/xilinx/*/*/readOldBPMs_FIFO/
!/gateware/platform/xilinx/*/*/readOldBPMs_FIFO/*.xci
/gateware/platform/xilinx/*/*/readOldBPMs_Fix/
!/gateware/platform/xilinx/*/*/readOldBPMs_Fix/*.xci
/gateware/platform/xilinx/*/*/readOldBPMs_Multiply/
!/gateware/platform/xilinx/*/*/readOldBPMs_Multiply/*.xci
/gateware/platform/xilinx/*/*/system/
!/gateware/platform/xilinx/*/*/system/*.bd

# NCO tables
*csv

# iverilog dependency files. Generated by Makefile
*evg1mgt_iverilog_cfile.txt
*evg2mgt_iverilog_cfile.txt
*evLogFIFO_iverilog_cfile.txt
*ila_td256_s4096_cap_iverilog_cfile.txt

# generated by makefile for dependency tracking
axi_lite_generic_reg

# Makefile-generated
*system_top.xdc
*prio_xci_files.tcl
*ipcores_repos.tcl

# Script-generated
*softwareBuildDate.h
*firmwareBuildDate.v
*gpioIDX.vh

######################
# Vivado files
######################

*.jou
*.log
*.str
*.xpr
*.edif
*.mif
.Xil/

# Vivado/Vitis-generated
*system.xsa
*psu_init*
*.bif
*init.tcl

######################
# Impact files
######################

*impact.xsl
*impact_impact.xwbt
*usage_statistics_webtalk.html
*webtalk_impact.xml
